<div class="container">
    <div class="row">
        <input type="text" [(ngModel)]="bucketlistName"> 
        <button class="btn btn-primary" (click)='updateBucketlist(bucketlist.id)' *ngIf="bucketlist && bucketlistName != bucketlist.name">Update</button>
    </div><br><br>
    <div class="row panel panel-primary col-md-9">
        <div class="panel-heading" *ngIf="bucketlist">
            {{bucketlistName}}
        </div>
        <div class="panel-body">
            <div>
                <input type="text" [(ngModel)]="newItem"> 
                <button class="btn btn-primary" (click)='createItem(bucketlist.id)'>Create Item</button>
            </div>
            <p *ngIf="bucketlist && bucketlist.items.length < 1">You have no Items for this bucketlist, create some</p>
            <table class="table" *ngIf="bucketlist && bucketlist.items.length > 0">
                <thead>
                    <tr>
                        <td colspan="4">Items</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of bucketlist.items">
                        <td colspan="4">
                            <bl-itemDetail [item]="item" [bucketlistId]="bucketlist.id"></bl-itemDetail>                                             
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
