 <div class="media">                          
    <div class="media-body">
        <div class="col-lg-7 padding-left-0">
            <h4 class="media-heading" *ngIf="!edit">{{item.name}} <span *ngIf="item.done"><i class="text-success glyphicon glyphicon-ok"></i></span></h4>
            <div *ngIf="edit">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="name">New name:</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="newItemName">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="done" [(ngModel)]="isDone"> Done</label>
                    </div>
                </form>
            </div>
            <div class="col-md-6 alert alert-danger alert-xs" *ngIf="edit && errorMessage">{{errorMessage.name}}</div> 
        </div>
        <div class="col-lg-5 text-right">
            <ul class="list-inline list-unstyled">
                <li><a href="javascript:void(0)" (click)="toggleEdit()" class="text-success" *ngIf="!edit"><span><i class="glyphicon glyphicon-pencil"></i> Edit</span></a></li>
                <li *ngIf="(edit && newItemName != item.name) || (edit && isDone != item.done)"><button class="btn btn-success btn-xs" (click)="updateItem()">Save</button></li>
                <li *ngIf="edit"><button class="btn btn-danger btn-xs" (click)="toggleEdit()">Cancel</button></li>
                <li><a href="javascript:void(0)" (click)="deleteItem()" class="text-danger"><span><i class="glyphicon glyphicon-trash"></i> Delete </span></a></li>
            </ul>
        </div>
    </div>
</div>